@use "./Mixins.scss"as *;

@import "https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600&display=swap";

/* Lexend Deca */
:root {
  --white: #fff;
  --black: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 17px;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
}

nav {
  box-shadow: 2px 1px 22px 0.2px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 2px 1px 22px 0.2px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 2px 1px 22px 0.2px rgba(0, 0, 0, 0.49);
  padding: 2rem 0;
}

img {
  display: block;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--white);

  &::after {
    content: "";
    left: 0;
    bottom: -3px;
    width: 100%;
    position: absolute;
    height: 1.5px;
    background: var(--white);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 250ms ease-in;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

video {
  width: 300px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: block;
  background: none;
  border: none;
}

.btn-hero {
  margin-top: 2em;
  font-size: 18px;
  padding: 1em;
  border-radius: 100px;
  background: #30092a;
  border: 4px solid #30092a;
  color: #fff;

  &:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: transparent;
  }
}

.btn-hero-link {
  &::after {
    display: none;
  }
}

.btn-grad {
  background-image: linear-gradient(to right,
      #30092a 0%,
      #cb3c61 51%,
      #30092a 100%);
}

.btn-grad {
  margin: 10px;
  padding: 20px 30px;
  text-align: center;
  transition: 0.5s;
  font-size: 18px;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  cursor: pointer;
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.menu {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.nav-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-links {
  display: none;
}

.nav-brand {
  font-size: 1.8rem;
  margin-right: 5rem;

  &:hover {
    transform: scale(1.2);
    transition: transform 150ms ease-in;
  }

  &:after {
    display: none;
  }
}

.hamburger {
  font-size: 2rem;
  color: var(--white);
  transition: 250ms ease-in;

  &:hover {
    cursor: pointer;
  }
}

.menu-active {
  min-height: auto;
}

.menu-active__nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  gap: 1.5rem;
  margin-top: 50%;
}

.hero {
  color: var(--white);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: auto;
}

.hero__text {
  width: 100%;

  p {
    margin-top: 1.8rem;
    line-height: 1.6;
  }
}

.hero-img {
  width: 300px;
}

.goals-cards {
  margin-block: 5rem;
}

.row {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  margin-inline: auto;
  gap: 5rem;
}

.col {
  border-radius: 10px;
  padding: 2rem;
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 1.5em;
  }

  svg {
    height: 5em;
    margin: 2em 0;
  }
}

#hfc-1,
#hfc-2,
#hfc-3 {
  border: 6px solid;
  border-image: linear-gradient(135deg, rgb(48, 9, 42), rgb(203, 60, 97) 75%) 1;
  // border-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) 1;

  &:hover {
    cursor: pointer;
  }
}

.home-features-col {
  p {
    font-size: 1em;
    text-align: start;
  }

  h1 {
    color: transparent;
    background: linear-gradient(135deg, rgb(48, 9, 42), rgb(203, 60, 97) 75%);
    background-clip: text;
  }
}

.background-wrapper {
  background-image: linear-gradient(135deg,
      rgb(48, 9, 42),
      rgb(203, 60, 97) 75%);
}

/* Footer section */
footer {
  background: linear-gradient(135deg, rgb(48, 9, 42), rgb(124, 36, 59) 75%);
}

.footer-link {
  &::after {
    display: none;
  }

  &:hover {
    border-left: 2px solid var(--white);
    padding-left: 0.3rem;
  }
}

.footer__container {
  @include flex(column, center, center);
  margin: 0 auto;
  padding: 3em 0;

  & h4 {
    color: rgb(145, 141, 145);
    text-align: center;
    font-size: 15px;

    &:nth-child(1) {
      margin-bottom: 0.5rem;
    }

    &:nth-child(2) {
      margin-bottom: -3rem;
    }
  }

  &__links {
    // @include flex(column, center, flex-start);
    display: block;
    gap: 10rem;
    padding: 2rem 0;

    border-bottom: 2px solid rgb(48, 9, 42);

    & p {
      font-size: 21px;
      color: var(--white);
      margin-bottom: 1rem;
      font-weight: bold;
    }

    &__list {
      list-style-type: none;

      & li:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__bottom {
    margin-top: 2rem;

    & a {
      color: rgb(143, 143, 143);
    }

    & p {
      font-size: 15px;
      width: 30ch;
      color: var(--white);
      text-align: center;

      &:nth-child(1) {
        margin: 1rem 0;
      }

      &:nth-child(2) {
        padding-bottom: 1rem;
      }
    }
  }
}

.single-list:not(:last-child) {
  margin-bottom: 3rem;
}

.video-section {
  @include flex(column, center, center);
  padding: 3rem 0;

  & h1.video-header {
    margin-bottom: 5rem;
  }
}

.project-mission {
  margin: 7rem auto;

  &__problem {
    @include flex(column, center, center);
    margin: 5rem 0;
    text-align: center;

    &__text {
      & h1 {
        margin-bottom: 2rem;
      }

      &__problem-img {
        margin: 0 auto;
        width: clamp(15.635rem, 10vw, 31.25rem);
        display: block;
        margin-bottom: 3rem;
      }

      & p,
      & li {
        text-align: start;
        line-height: 1.65rem;
      }

      & li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &__img {
      img {
        display: none;
      }
    }

    & li:nth-child(1) {
      margin-top: 1.5rem;
    }
  }

  &__pollution_consequences {
    margin: 0 auto;
    background: var(--black);
    color: var(--white);
    padding: 1rem;

    &__text {
      &__button {
        margin-top: 3rem;
      }
    }

    & p {
      margin-top: 3rem;
      line-height: 1.65em;
    }

    &__header-img {
      width: 200px;
      margin: 3rem auto;
    }

    &__images {
      & img {
        display: none;
      }
    }
  }
}

.error-header {
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  color: var(--white);

  h1 {
    font-size: clamp(2.5rem, 2vw + 1rem, 4rem);
    margin-bottom: 2rem;
  }

  &__link {
    font-size: 1rem;
    background: #30092a;
    padding: 1.2rem;
    border-radius: 100px;

    &:hover {
      opacity: 90%;
    }

    &::after {
      content: none;
    }
  }

  &__message {
    font-size: 1.7rem;
    padding-bottom: 4rem;
  }
}

.banner {
  margin: 0 auto;
  padding: 5rem 0;
  background: var(--black);
  color: var(--white);

  &__button {
    margin: 0 auto;
  }

  h1,
  p {
    text-align: center;
  }

  p {
    font-size: 1.15rem;
    padding: 0 1rem;
    margin: 1.5rem 0;
    line-height: 1.5em;
  }
}

.municipality-card-3 {
  @include flex(column, center, center);
  width: 30%;
  margin: 0 auto;
  margin-bottom: 5rem !important;
}

.goals {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  // padding: 3rem 0;
  padding-bottom: 5rem;

  &__hero {
    @include flex(column, center, center);
    padding-bottom: 5rem;

    &__quote {
      text-align: center;
      margin-top: 2rem;

      & span {
        display: grid;
        place-items: center;
        font-weight: normal;
        font-style: italic;
        margin-top: 0.55rem;
      }
    }

    &__title {
      text-align: center;
      padding: 3rem 0;
      text-transform: uppercase;
    }

    &__introduction {
      text-align: center;
      padding: 0 0.45rem;
      font-size: 16px;
      // width: 60ch;
      // font-size: 19px;
      line-height: 1.5em;
    }
  }

  &__card {
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: white;
    padding: 1.5rem;
    @include flex(column, center, center);
    border-bottom: 4px solid black;

    &:nth-child(1) {
      border-top: 4px solid black;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -2px;
    //   right: -2px;
    //   bottom: -2px;
    //   left: -2px;
    //   background: var(--black);
    //   z-index: -1;
    // }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -2px;
    //   right: -2px;
    //   bottom: -2px;
    //   left: -2px;
    //   background: var(--black);
    //   z-index: -2;
    //   filter: blur(15px);
    // }

    // &:nth-child(1)::before,
    // &:nth-child(1)::after {
    //   background: linear-gradient(235deg, #30092a, #fff, #cb3c61);
    // }

    // &:nth-child(2)::before,
    // &:nth-child(2)::after {
    //   background: linear-gradient(235deg, #cb3c61, #fff, #30092a);
    // }

    // &:nth-child(3)::before,
    // &:nth-child(3)::after {
    //   background: linear-gradient(235deg, #30092a, #fff, #a1c4fd);
    // }

    // &:nth-child(4)::before,
    // &:nth-child(4)::after {
    //   background: linear-gradient(235deg, #a1c4fd, #fff, #30092a);
    // }

    h2 {
      text-transform: uppercase;
    }

    img {
      margin: 1.2rem auto;
      width: 150px;
    }

    p {
      width: 30ch;
      // font-size: 18px;
      line-height: 1.6em;
    }
  }
}

.row {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-bottom: 5rem;

  &__card {
    p {
      line-height: 1.6em;
    }

    img {

      &:nth-child(2),
      &:nth-child(3) {
        padding: 3rem 0;
      }
    }

    margin: 0 auto;
    text-align: center;
    position: relative;
    background: white;
    padding: 1.5rem;
    @include flex(column, center, center);
    border-bottom: 4px solid black;

    &:nth-child(1) {
      border-top: 4px solid black;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: -2px;
    //   right: -2px;
    //   bottom: -2px;
    //   left: -2px;
    //   background: var(--black);
    //   z-index: -1;
    // }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   top: -2px;
    //   right: -2px;
    //   bottom: -2px;
    //   left: -2px;
    //   background: var(--black);
    //   z-index: -2;
    //   filter: blur(15px);
    // }

    // &:nth-child(1)::before,
    // &:nth-child(1)::after {
    //   background: linear-gradient(235deg, #30092a, #fff, #cb3c61);
    // }

    // &:nth-child(2)::before,
    // &:nth-child(2)::after {
    //   background: linear-gradient(235deg, #cb3c61, #fff, #30092a);
    // }

    // &:nth-child(3)::before,
    // &:nth-child(3)::after {
    //   background: linear-gradient(235deg, #30092a, #fff, #a1c4fd);
    // }

    // &:nth-child(4)::before,
    // &:nth-child(4)::after {
    //   background: linear-gradient(235deg, #a1c4fd, #fff, #30092a);
    // }
  }

}

.cs-features {
  margin: 0 auto;
  margin-bottom: 4rem;
  @include flex(column, center, center);

  p {
    font-size: 18px;
    text-align: center;
    width: 65ch;
    line-height: 1.6em;
  }

  &__img {
    padding: 3rem 0;
  }
}

.cs-banner {
  position: relative;

  &__img-overlay {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-self: end;
    align-self: center;
    place-items: center;
    gap: 10rem 39em;
    padding: 1.5rem;
  }

  p {
    width: 45ch;
    line-height: 1.6em;

    &:nth-child(2) {
      align-self: center;
    }
  }
}

.lbl {

  display: block;
  font: 1.5rem 'Fira Sans', sans-serif;

}

.in-lbl {

  margin: .4rem 0;
  width: 50%;
  align-self: center;

}

/* Responsive section */

@media (min-width: 1100px) {
  nav {
    padding: 0.3rem 0;
  }

  video {
    width: 800px;
  }

  .menu {
    flex-direction: row;
  }

  .hero {
    padding: 5rem;
    gap: 10rem;
    flex-direction: row;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: row;
    padding: 2rem 0;
    gap: 3rem;
  }

  .hero__text {
    width: 40%;
    max-width: 700px;
    font-size: 20px;

    h1 {
      font-size: 3.5rem;
    }
  }

  .hero-img {
    width: 500px;
  }

  .goals-cards {
    margin-block: 10rem;
  }

  .hamburger {
    display: none !important;
  }

  .row {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem 0 2rem;
  }

  .col {
    h1 {
      font-size: 2em;
    }

    i {
      font-size: 4em;
    }
  }

  .home-features-col {

    h1,
    i {
      color: transparent;
      background: linear-gradient(135deg, rgb(48, 9, 42), rgb(203, 60, 97) 75%);
      background-clip: text;
    }

    p {
      font-size: 1.2em;
    }
  }

  #hfc-1,
  #hfc-2,
  #hfc-3 {
    border-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%) 1;

    &:hover {
      border-image: linear-gradient(135deg,
          rgb(48, 9, 42),
          rgb(203, 60, 97) 75%) 1;
    }
  }

  .footer__container {
    & h4 {
      font-size: 18px;
    }

    &__bottom {
      & p {
        font-size: 17px;
        width: auto;

        &:nth-child(1) {
          margin-bottom: 0.5rem;
        }
      }
    }

    &__links {
      @include flex(row, center, flex-start);
    }
  }

  .project-mission {
    &__problem {
      flex-direction: row;
      text-align: start;
      gap: 10rem;

      &__img {
        img {
          display: block;
        }
      }

      &__text {
        & h1 {
          font-size: 2.5rem;
        }

        & p,
        & li {
          line-height: 1.65em;
          font-size: 18px;
        }

        &__problem-img {
          display: none;
        }
      }
    }

    &__pollution_consequences {
      @include flex(column, space-between, center);
      margin: 0 auto;
      width: 100%;
      margin-top: 10rem;
      padding: 10rem 0;
      color: var(--white);

      &__text {
        font-size: 18px;
        width: 65ch;
        margin-bottom: 5rem;

        &__button {
          margin: 0 auto;
          margin-top: 3rem;
        }

        & h1 {
          font-size: 3.5rem;
          text-align: center;
        }
      }

      &__header-img {
        display: none;
      }

      &__images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 5rem;

        & img {
          width: 200px;
          display: block;
        }
      }
    }
  }

  .banner {
    @include flex(column, center, center);
    position: relative;

    p {
      width: 55ch;
      margin-bottom: -1rem;
    }
  }

  .goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 0;
    padding-bottom: 5rem;

    &__hero {
      &__introduction {
        width: 60ch;
        font-size: 19px;
      }
    }

    &__card {
      border: none;

      &:nth-child(1) {
        border: none;
      }

      p {
        font-size: 18px;
      }

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: var(--black);
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: var(--black);
        z-index: -2;
        filter: blur(15px);
      }

      &:nth-child(1)::before,
      &:nth-child(1)::after {
        background: linear-gradient(235deg, #30092a, #fff, #cb3c61);
      }

      &:nth-child(2)::before,
      &:nth-child(2)::after {
        background: linear-gradient(235deg, #cb3c61, #fff, #30092a);
      }

      &:nth-child(3)::before,
      &:nth-child(3)::after {
        background: linear-gradient(235deg, #30092a, #fff, #a1c4fd);
      }

      &:nth-child(4)::before,
      &:nth-child(4)::after {
        background: linear-gradient(235deg, #a1c4fd, #fff, #30092a);
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 0;
    padding-bottom: 5rem;

    &__card {
      border: none;
      width: 88%;

      img {

        &:nth-child(2),
        &:nth-child(3) {
          padding: 3rem 0;
        }
      }

      &:nth-child(1) {
        border: none;
      }

      p {
        font-size: 18px;
        line-height: 1.6em;
      }

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: var(--black);
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        background: var(--black);
        z-index: -2;
        filter: blur(15px);
      }

      &:nth-child(1)::before,
      &:nth-child(1)::after {
        background: linear-gradient(235deg, #30092a, #fff, #cb3c61);
      }

      &:nth-child(2)::before,
      &:nth-child(2)::after {
        background: linear-gradient(235deg, #cb3c61, #fff, #30092a);
      }

      &:nth-child(3)::before,
      &:nth-child(3)::after {
        background: linear-gradient(235deg, #30092a, #fff, #a1c4fd);
      }

      &:nth-child(4)::before,
      &:nth-child(4)::after {
        background: linear-gradient(235deg, #a1c4fd, #fff, #30092a);
      }
    }
  }

  .cs-banner {
    @include flex(column, center, center);
    position: relative;
    margin: 0 auto;
    padding: 5rem 0;
    background: var(--black);
    color: var(--white);
  }
}

.lbl {

  display: block;
  font: 1.5rem 'Fira Sans', sans-serif;

}

.in-lbl {

  margin: .4rem 0;

}